/* $yellow: #D6B000;
$blue: #3E62B6;
$red: #AB5252;
$green: #516B33; */

$yellow: #E0C32F;
$blue: #5270BC;
$red: #BC5252;
$green: #2D5346;
$teal: #60B1C3;
$pink: #D29C89;

$gray: #6d7783;

/*
$black: #15181E;
$gray-4: #29313E;
$gray-3: #506171;
$gray-2: #BDC7D0;
$gray-1: #DBE1E6;
*/
