
$base-font-size: 62.5%;
$text-sm: 1.8rem;
$text-md-1: 2rem;
$text-md-2: 2.4rem;
$text-lr: 3.6rem;
$text-xl: 5rem;
$text-xxl: 11.0rem;



html { font-size: $base-font-size;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale; }

body { font-size: 1.4rem; /* =14px */}

$light: 200;
$regular: 400;
$medium: 500;


@mixin paralucent_font($weight, $size){
  font-family: paralucent, sans-serif;
  font-weight: $weight;
  font-size: $size;
}

@mixin aref_font($weight, $size){
  font-family: 'Aref Ruqaa', serif;
  font-weight: $weight;
  font-size: $size;
}

/* @mixin filson_font($weight, $size){
  font-family: filson-pro,sans-serif;
  font-weight: $weight;
  font-size: $size;
}

@mixin poppins_font($weight, $size){
  font-family: poppins,sans-serif;
  font-weight: $weight;
  font-size: $size;
} */

@mixin frieght_font($weight, $size){
  font-family: freight-sans-pro, sans-serif;
  font-weight: $weight;
  font-size: $size;
}

h1{
  @include paralucent_font($regular, $text-xxl);
  line-height: 11rem;

  @include phone-only{
    font-size: 4rem;
    line-height: 5rem;
  }

  @include tablet-portrait-up{
    font-size: 7rem;
    line-height: 7rem;
  }
  @include tablet-landscape-up{
    font-size: $text-xxl;
    line-height: 11rem;
  }
}

h2{
  @include aref_font($regular, $text-md-2);
  @include phone-only{
    line-height: 3.1rem;
  }
}

h3{
  @include paralucent_font($regular, $text-md-2);
  text-transform: uppercase;
}

h4{
  @include aref_font($regular, $text-sm);
}

p{
  @include frieght_font($light, $text-sm);
  line-height: 2.4rem;

  @include phone-only{
    font-size: $text-md-1;
  }
}
