.body {
  overflow: hidden;
}


body.category-methodologies .page-container{
  background-color: $blue;
  &::before, &::after{
    background-color: $blue;
  }
}

.page-container {
  width: 100%;
  height: 100%;
  padding: 2rem;
  background-color: $yellow;

  &::before{
    content:'';
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 2rem;
    background-color: $yellow;
  }

  &::after{
    content:'';
    display: block;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100vw;
    height: 2rem;
    background-color: $yellow;
  }

  &__inner {
    background-color: white;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
  }
}

.content-wrapper,
.wrapper {
  width: 100%;
  height: 100%;
}

.container {
  max-width: 90rem;
  margin: 0 auto;
}

.header-container {
  margin-top: 100px;
}

.body-container{
  display: flex;
  flex-wrap: wrap;
  margin-top: 100px;
}


.category-container{
  flex-grow: 1;
  flex-basis: 33%;
  margin-bottom: 4rem;
}

.category-title, .post-title{
  text-decoration: none;
  color: black;
}

.link-container > li {
  @include aref_font($regular, $text-sm);
  list-style-type: none;
}

.back-btn{
  position: relative;
  z-index: 2;
  padding-left: 5px;
  @include frieght_font($regular, $text-sm);

}


#line-vertical{
  width: 1px;
  background-color: #D8D8D8;
}

#line-horizontal{
  height: 1px;
  background-color: #D8D8D8;
}


.toggle-content {
	display: none;
}

.toggle-content.is-visible {
	display: block;
}


.mobile-nav{
  position: absolute;
  width: 100%;
  background-color: white;
  z-index: 1000;
  padding: 2rem;
}


.nav-icon {
  margin: 1em;
  width: 40px;
}

.nav-container{
  display: flex;
  justify-content: flex-end;
  margin: 2rem;
}

.nav-icon:after,
.nav-icon:before,
.nav-icon div {
  background-color: #000;
  border-radius: 3px;
  content: '';
  display: block;
  height: 5px;
  margin: 7px 0;
  transition: all .2s ease-in-out;
  width: 50px;
}


.close {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 32px;
  height: 32px;
}

.close:before, .close:after {
  position: absolute;
  left: 15px;
  content: ' ';
  height: 33px;
  width: 2px;
  background-color: #333;
}
.close:before {
  transform: rotate(45deg);
}
.close:after {
  transform: rotate(-45deg);
}
