
$base-font-size: 62.5%;
$text-sm: 1.6rem;
$text-md: 2.4rem;
$text-xxl: 11.0rem;

html { font-size: $base-font-size; }
body { font-size: 1.4rem; } /* =14px */


$regular: 400;
$medium: 500;


@mixin paralucent_font($weight, $size){
  font-family: paralucent, sans-serif;
  font-weight: $weight;
  font-size: $size;
}

@mixin aref_font($weight, $size){
  font-family: 'Aref Ruqaa', serif;
  font-weight: $weight;
  font-size: $size;
}

@mixin filson_font($weight, $size){
  font-family: filson-pro,sans-serif;
  font-weight: $weight;
  font-size: $size;
}

@mixin poppins_font($weight, $size){
  font-family: poppins,sans-serif;
  font-weight: $weight;
  font-size: $size;
}

@mixin frieght_font($weight, $size){
  font-family: freight-sans-pro, sans-serif;
  font-weight: $weight;
  font-size: $size;
}

@mixin work-sans_font($weight, $size){
  font-family: 'Work Sans', sans-serif;
  font-weight: $weight;
  font-size: $size;
}

h1{
  @include paralucent_font($regular, $text-xxl);
  line-height: 11rem;
}

h2{
  @include poppins_font($regular, $text-md);
}

h3{
  @include aref_font($regular, $text-md);
}

p{
  @include frieght_font($regular, $text-sm);
}
