body {
  background-color: white;
}

.archive-container{
  display: flex;
  flex-flow: row wrap;
  flex: 1 100%;

}

.archive-container > * {
  flex: 1 100%;
}

.post-container{
  flex: 60% 0 0;
}


.category-sidebar{
  flex: 30% 0 0;
  padding-top: 6rem;
}

.post__single{
  margin-top: 3rem;
  padding: 2rem;
  border-radius: 5px;
  flex-basis: 52%;
  transition: all ease-in-out .2s;


  &:hover{
  transition: all ease-in-out .2s;
    transform: scale(1.01);
    cursor: pointer;
    box-shadow:
    0 0px 2.2px rgba(0, 0, 0, 0.01),
    0 0.1px 5.3px rgba(0, 0, 0, 0.009),
    0 0.1px 10px rgba(0, 0, 0, 0.007),
    0 0.2px 17.9px rgba(0, 0, 0, 0.01),
    0 0.5px 33.4px rgba(0, 0, 0, 0.021),
    0 1px 80px rgba(0, 0, 0, 0.07);
  }
}


.post-attribution{
  margin-bottom: .5rem;
}
