{% extends "base.twig" %}

{% block content %}
{% include "menu-mobile.twig" %}

<!--
<div class="page-container">
		<div class="header-container">
			<h1>The Product <br> Design Handbook</h1>
		</div>
		<div class="inner-container">
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Nunc aliquet bibendum enim facilisis gravida neque convallis. Blandit turpis cursus in hac habitasse platea. Scelerisque eleifend donec pretium vulputate sapien nec. Dolor magna eget est lorem ipsum dolor sit amet consectetur. Nisl purus in mollis nunc. Tempus quam pellentesque nec nam. Pellentesque elit ullamcorper dignissim cras tincidunt lobortis feugiat vivamus at. Sed vulputate odio ut enim. Libero nunc consequat interdum varius sit. Felis eget velit aliquet sagittis id consectetur.</p>
	</div>
</div>
-->
<div class="page-container">
	<div class="page-container__inner">

		<!-- Navigation toggle -->
		<div class="nav-container" id="home">
			<a class="toggle nav-icon" href="#nav-toggle"><div href="#nav-toggle"></div></a>
		</div>

		<div class="container" id="main-title-container">
			<header class="header-container">
				<h1 id="main-title">The Product <br> Design Handbook</h1>
				<h4 id="main-title-caption">A collection of resources, tools, and methodologies for building better digital products.</h4>
			</header>
			<main class="body-container">
				<div class="searchform-container" role="searchform">{% include "partial/searchform.twig" %}</div>
			{% for term in parent_categories %}
					<div class="category-container">
					        <h3><a class="category-title" href="{{term.link}}">{{term.name}}</a></h3>
					        <ul class="link-container">
					            {% for category in term.children %}
											<li><a class="post-title" href="{{category.link}}">{{category.name}}</a></li>
					            {% endfor %}
					        </ul>
								</div>
					{% endfor %}
				</div>
			</main>
		</div>
	</div>
</div>
{% endblock %}
