
<div class="nav toggle-content" id="nav-toggle">
	<div class="nav__inner">
{% if menu %}
	{% for item in menu.items %}
		<h3 class="nav-item"><a class="category-title" href="{{item.link}}">{{item.name}}</a></h3>
	{% endfor %}
{% endif %}
	</div>
		<div>
			<a class="toggle close" href="#nav-toggle">
			</a>
		</div>
</div>
