<form role="search" method="get" id="searchform-home" class="searchform" action="{{site.link}}">
  <div>
    <input type="text" value="{{ function('get_search_query') }}" name="s" id="searchform-home" placeholder="Search" />
    <!-- <input type="submit" id="searchsubmit" value="Search" /> -->
  </div>
</form>
